.App {
  text-align: center;
  height: 100%;
}
input:focus{
  outline: none;
}

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgba(182, 182, 182, 0);
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(93, 113, 150);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.tiny-vid{
  width: 100%;
  background-color: rgba(45, 55, 72, 0.6);
  border-radius: 10px;
}
.cam-pos{
  position: absolute;
    left: 10px;
    color: red;
    bottom: 5px;
    transition: transform .1s ease-in-out;
    font-size: 2rem;
}
.cam-pos:hover{
  cursor: pointer;
  transform: scale(1.2);
  text-shadow: 0 0 10px #00000096;
}


#app-container{
  display: flex;
  justify-content: space-evenly;
  height: 90%;
}

#user-video-container{
  position: relative;
}





#message-sidebar, #peers-video-container{
  flex: 1.5;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}
#peers-list-videos{
  height: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}




#message-sidebar{
  border-radius: 0 10px 10px 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}
#message-sidebar > #msg-box > form {
    height: 35px;
    display: flex;
    margin: auto;
}

#msg-box > form > input {
  flex: 4 1;
    padding-left: 5px;
    border: 1px solid rgba(0,0,0,.13);
    border-radius: 0 0 0 10px;
    background: #262f3c;
    color: white;
}
#msg-box > form > button {
  flex: 1 1;
    border: none;
    color: #313131;
    background-color: #b790f4;
    font-size: .8rem;
    padding: 0 10px;
    transition: background .2s ease-in-out;
    border-radius: 0 0 10px 0;
}
#msg-box > form > button:hover{
  background-color: #a280d8;
  cursor: pointer;
}

.msg-name{
  font-size: 0.8rem;
}
.msg-txt{
  font-size: 0.8rem;
}





#message-sidebar > #message-container{
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  padding-bottom: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-left: 10px;
  padding-right: 5px;
  background-color: #273143;
  border-radius: 10px 10px 0 0;
}
#message-container > :first-child {
  margin-top: auto;
}


#focused-video-container{
  flex: 6;
}


@keyframes msgBubble {
  0% {transform: scale(0);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}
.msg-cont{
  color: #242424;
  font-size: 1rem;
  text-align: left;
  margin: 5px 0 0 0;
  margin-right: auto;
  background-color: #e890f4;
  padding: 0px 2px;
  border-radius: 0 10px 10px 10px;
  padding: 5px;
  box-shadow: 2px 2px 5px 0px #00000026;
  animation-name: msgBubble;
  animation-duration: .5s;
}
.me {
  text-align: right;
  border-radius: 10px 0 10px 10px;
  background-color: #90a5f4;
  margin-left: auto;
  margin-right: 0;
}



#nav{
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#title, #buttons{
  padding-left: 10px;
  padding-right: 10px;
}
#title span {
  font-size: 1.3rem;
  color: #b793f4
}

.category{
    padding: 10px 0;
    background-color: #0000001f;
    font-size: 1.2rem;
    color: #2d2d2d;
    border-bottom: 1px solid #2d2d2d52;
    padding-bottom: 2px;
    border-radius: 4px 4px 0 0;
    margin-right: 0;
    margin-top: 10px;
    font-weight: 100;
}