.modal{
    background: rgba(45, 55, 72, 0.6);
    width: 50%;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 3px 10px 20px 0 rgba(0,0,0,.21);
    color: white;
}
.landing-instructions{
    margin: 5% auto;
}
.landing-instructions p{
    font-size: 1rem;
}
.landing-instructions h1{
    margin-bottom: 10px;
}
.landing-instructions h1 span{
    color: #b794f4;
}
.form-container{
    padding: 20px;
}
.form-container form input{
    text-align: center;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    background: #1a212d;
    color: white;
}
.buttons-list{
    display: flex;
    justify-content: center;
}
.submit-button{
    padding: 4px 10px;
    border: none;
    margin: 0 4px;
    transition: .2s ease-in-out;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #404040;
}
.submit-button:hover{
    cursor: pointer;
    background-color: #b793f4;
    transform: scale(1.1);
}

msg{
    display: flex;
    flex-flow: column;
    margin: 40px auto 0;
    color: white;
    background: rgba(45, 55, 72, 0.6);
    padding: 10px;
    border-radius: 5px;
    max-width: 50%;
    position: relative;
}
msg .close{
    font-size: 0.6rem;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    background: #b791f4;
    padding: 1px 0px 0px 1px;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    transition: .1s ease-in-out;
    color: black;
}
msg .close:hover{
    background: #9a7ace;
    color: black;
}

msg h4{
    margin-bottom: 10px;
    font-size: 1rem;
    color: #b791f4;
}
msg p{
    margin-bottom: 5px;
}
msg p:last-child{
    margin-top: 20px;
}

.form-group{
    margin: 10px 0;
}
.form-control{
    text-align: center;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    background: #1a212d;
    color: white;
    width: 75%;
    font-family: 'Open Sans';
    font-size: .8rem;
}